<p>hi</p>
<!--


<head></head>
<body>
    

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row border-top pt-3">
                    <div class="col-lg-6 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-2">
                                <a href="#" class="text-dark">Generation</a>
                            </li>
                            <li class="list-inline-item mr-2">
                                <a href="#" class="text-dark">About</a>
                            </li>
                            <li class="list-inline-item mr-2">
                                <a href="#" class="text-dark">Support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p>&copy; 2020 Copyright. Made With <i class="fas fa-heart text-danger"></i> by <span
                                class="text-info">Generation</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
-->