
<section>
    <div class="container-fluid">
        <div class="row ml-0">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="d-flex justify-content-left align-items-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row md-5 md-3">
                    <div class="col-xl-6 col-sm-6 p-2">


                        <div class="card mb-3">
                            <div class="card-body text-center shadow">
                                <img class="rounded-circle mb-3 mt-4" src="dogs/image2.jpeg" width="160"
                                    height="160" />
                                <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="button">Change
                                        Photo</button>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">About Me</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                        rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary  m-0">Submit</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-6 col-sm-6 p-2">
                        <div class="card card-common ">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Edit Your Profile</h6>
                            </div>
                            <div class="card-body mb-2">
                                <div class=" justify-content-between">

                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="username"><strong>Username</strong></label><input
                                                        class="form-control" type="text" placeholder="ADuran"
                                                        name="username" /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="email"><strong>Email
                                                            Address</strong></label><input class="form-control"
                                                        type="email" placeholder="user@example.com"
                                                        name="email" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="passwordCreate"><strong>Password</strong></label><input
                                                        class="form-control" type="password"
                                                        placeholder="password" name="passwordCreate" /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="role"><strong>Role</strong>
                                                    </label><input class="form-control" type="text"
                                                        placeholder="Admin / Teacher" name="role" /></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="first_name"><strong>First
                                                            Name</strong></label><input class="form-control"
                                                        type="text" placeholder="Alejandra "
                                                        name="first_name" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="last_name"><strong>Last
                                                            Name</strong></label><input class="form-control"
                                                        type="text" placeholder="Durán" name="last_name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="addressCreate"><strong>Addres</strong></label><input
                                                        class="form-control" type="text"
                                                        placeholder="Sunset Blvd, 38" name="addressCreate" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="PhoneCreate"><strong>Phone</strong>
                                                    </label><input class="form-control" type="text"
                                                        placeholder="(541) 754-3010" name="PhoneCreate" /></div>
                                            </div>
                                        </div>
                                        <div class="form-row mb-2">
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="degreeCreate"><strong>Degree</strong></label><input
                                                        class="form-control" type="text"
                                                        placeholder="Java FullStack" name="degreeCreate" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label
                                                        for="birthdayCreate"><strong>Birthday</strong>
                                                    </label><input class="form-control" type="date"
                                                        placeholder="(541) 754-3010" name="birthdayCreate" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <button type="submit" class="btn btn-primary  m-0">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>