<!--? FOR ALL!-->
<app-home-admin></app-home-admin>

<!--SOME SPACE BETWEEN TOPNAV AND THIS SECTION-->
<div class=" col-xl-10 col-lg-9 col-md-8 ml-auto">
    <div class="row pt-md-5 mt-md-3">
        <div class="col-xl-3 col-sm-6 p-2">
        </div>
    </div>
</div>

<!--JUSTIFICATION FROM THE LEFTNAV-->
<div class="row ml-6 left-pos">
    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <section>
            <div class="container-fluid">
                <div class="row ml-0">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        <div class="row pt-md-2 mt-3">
                            <div class="col-xl-3 col-sm-6 p-2">
                                <div class="d-flex justify-content-left align-items-center">
                                    <div class="error">
                                        <a class="title-info">SORRY!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--//? 1rs one-->
                <div class="row card-cent">
                    <div class="col-xl-10 col-lg-9 col-md-8 ">
                        <div class="row md-5 md-3">
                            <div class="col-xl-10 col-sm-8 p-2">
                                <div class="card text-center border-light mb-3">
                                    <div class="card-body text-center">
                                        <ul class="navbar-nav flex-column">
                                            <li class="text-center">

                                                <i class="fas fa-wrench text-warning fa-10x mb-3">
                                                </i>
                                                <p class="card-text">
                                                    <h4 class="text-muted">
                                                        Our website is almost ready
                                                    </h4>
                                                

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>