.features-icons {
    margin: 50px auto;
    
    padding-bottom: 7rem;
    
  }
  
  .left-pos{
    margin-left: 250px;
    margin-top: 90px;
  
  }
  
  .error {
    color: #5a5c69;
    font-size: 4rem;
    position: relative;
    line-height: 0.8;
    width: 0.5rem;
     margin-left: 150px;
  }
  
  .card-cent{
    margin-left: 100px;
  }
  .footer 
{
    position: relative !important;
    
}
 
.bg-footer{
    background-color: rgb(211, 211, 211);
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .color-back{
    background-color: #eee;
  }

  .border-l {
    background-color: #eee;
  }