<!--LIST OF READ ALL / Re-directs to CRUD -->


<!--this header is the topnav should change bweteen roles????-->
<app-home-admin></app-home-admin>



<section>
  <!--SOME SPACE BETWEEN TOPNAV AND THIS SECTION-->
  <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto">
    <div class="row pt-md-5 mt-md-3">
      <div class="col-xl-3 col-sm-6 p-2">
      </div>
    </div>
  </div>

  <!--JUSTIFICATION FROM THE LEFTNAV-->
  <div class="row ml-0">
    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">

      <!--SECTIONS BUTTONS-->
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link " routerLink = "/GroupCrud">Group Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Group List</a>
          </li>

        </ul>
      </div>

      <!--CARDS WITH CRUD AND STUFF I GUESS-->
      <div class="card border-primary mb-3">
        <div class="card-header">Group</div>
        <div class="card-body text-primary">
          <h5 class="card-title">List of all Group</h5>
          <div class="my-2 text-left">
            <!-- THIS BUTTON SHOULD SEND YOU TO THE CRUD PAGE, TO CHANGE THINGS-->
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button"
              [routerLink]="['/GroupCrud']">
              Create a new Group
            </button>
          </div>
          <div *ngIf="groups?.length == 0" class="alert alert-info">
            No group added yet
          </div>
          <table class="table table-bordered table-striped" *ngIf="groups?.length > 0">
            <thead>
              <tr>
                <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
                <th>Group</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Start Day</th>
                <th>End Day</th>
                <th>No. Students</th>
                <th>Creation Date</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">edit</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let group of groups | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems}; let index = index">
                <!-- client of clients-->    
                <td>{{ group.idGroup }}</td>
                <td>{{ group.nameGroup }}</td>
                <td>{{ group.summaryGroup }}</td>
                <td>{{ group.startDateGroup }}</td>
                <td>{{ group.endDateGroup }}</td>
                <td>{{ group.countNumber }}</td>
                <td>{{ group.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <!-- THIS BUTTON SHOULD SEND YOU TO THE CRUD PAGE, TO CHANGE THINGS-->
                  <button type="button" name="editar" [routerLink]="['/GroupCrud/',group.idGroup]"
                    class="btn btn-primary btn-sm mb-2"><i class="fas fa-pencil-alt text-light fa-lg mr-4" ></i> Edit</button>
                    <a>  </a>
                  <button type="button" name="editar"
                    class="btn btn-danger btn-sm" (click)="remove(group.idGroup, index)"><i class="fas fa-minus-circle text-light fa-lg mr-1" ></i>Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <pagination-controls class="pagination" (pageChange)="goToPage($event)"></pagination-controls>
          </ul>
        </nav>
        </div>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>