.features-icons {
  margin: 50px auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
  
}

.left-pos{
  margin-left: 250px;
  margin-top: 160px;

}

.error {
  color: #5a5c69;
  font-size: 4rem;
  position: relative;
  line-height: 0.8;
  width: 0.5rem;
   margin-left: 150px;
}

.card-cent{
  margin-left: 100px;
}