<!--SOME SPACE BETWEEN TOPNAV AND THIS SECTION-->
<div class=" col-xl-10 col-lg-9 col-md-8 ml-auto">
    <div class="row pt-md-5 mt-md-3">
        <div class="col-xl-3 col-sm-6 p-2">
        </div>
    </div>
</div>

<!--JUSTIFICATION FROM THE LEFTNAV-->
<div class="row ml-6 left-pos">
    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <section>
            <div class="container-fluid">
                <div class="row ml-0">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        <div class="row pt-md-2 mt-3">
                            <div class="col-xl-3 col-sm-6 p-2">
                                <div class="d-flex justify-content-left align-items-center">
                                    <div class="error">
                                        <a class="title-info">ABOUT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--//? 1rs one-->
                <div class="row">
                    <div class="col-xl-10 col-lg-9 col-md-8 ">
                        <div class="row md-5 md-3">
                            <div class="col-xl-4 col-sm-4 p-2">
                                <div class="card text-center">
                                    <div class="card-body text-center">
                                        <ul class="navbar-nav flex-column">
                                            <li class="nav-item text-center"><a routerLink="student/Dashboard"
                                                    class="nav-link text-black p-3 mb-2 sidebar-link">
                                                    <i class="fas fa-sliders-h text-info fa-3x mb-3">
                                                    </i>
                                                    <p class="card-text">Get to know the team!</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--//? 2nd one -->
                            <div class="col-xl-4 col-sm-4 p-2">
                                <div class="card text-center">
                                    <div class="card-body text-center">
                                        <ul class="navbar-nav flex-column">
                                            <li class="nav-item text-center"><a routerLink="student/Dashboard"
                                                    class="nav-link text-black p-3 mb-2 sidebar-link">
                                                    <i class="fas fa-heart text-success fa-3x mb-3">
                                                    </i>
                                                    <p class="card-text">More About Generation</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--//? 3rd one -->
                            <div class="col-xl-4 col-sm-4 p-2">
                                <div class="card text-center">
                                    <div class="card-body text-center">
                                        <ul class="navbar-nav flex-column">
                                            <li class="nav-item text-center"><a routerLink="student/Dashboard"
                                                    class="nav-link text-black p-3 mb-2 sidebar-link">
                                                    <i class="fas fa-exclamation-triangle text-danger fa-3x mb-3">
                                                    </i>
                                                    <p class="card-text">Delete Accout!</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>